
.formTitle {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 51px;
  text-align: center;
}

.subtitle {
  color: var(--color-light-900);
  opacity: 50%;
  margin-bottom: 50px;
}

.footerSubtitle {
  color: var(--color-light-900);
  text-align: center;
}

.mbForButton {
  margin-bottom: 20px;
}

.footerLink {
  text-align: center;
}