.container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.label {
  cursor: pointer;
  display: flex;
  align-items: center;

  &.disabled {
    color: var(--color-accent-500);
  }
}

.root {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: var(--color-dark-900);
  border: 2px solid var(--color-light-900);
  border-radius: 2px;

  //&:focus {
  //  background-color: var(--color-light-300);
  //}

  &:disabled {
    cursor: initial;
    border-color: var(--color-checkbox-disabled);
  }

  &[data-state='checked']:disabled {
    background-color: var(--color-accent-500);
  }
}

.buttonWrapper {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  //background-color: rgb(255 255 255 / 0%);
  border-radius: 50%;

  transition: all 0.3s ease-in-out;

  &.disabled {
    cursor: initial;
  }


  &:hover:not(.disabled),
  &:hover .root:not([data-state='checked']) {
    background-color: var(--color-dark-500);
  }
  
  &:active:not(.disabled) {
    background-color: var(white);
  }

  &.left {
    margin-left: -9px;
  }
}

.indicator {
  width: 18px;
  height: 18px;
}
