@mixin button {
  cursor: pointer;

  top: 20px;
  left: 20px;

  display: inline-flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  //width: 150px;
  padding: 0.375rem 1.75rem;

  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0;

  border: none;
  border-radius: 4px;

  transition:
    300ms background-color,
    300ms color;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }
}

.primary {
  @include button;

  color: var(--color-light-100);
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px rgb(140 97 255 / 35%);

  &:hover:enabled {
    background-color: var(--color-accent-300);
  }

  &:active:enabled {
    background-color: var(--color-accent-500);
  }
}

.secondary {
  @include button;

  color: var(--color-text-primary);
  background-color: var(--color-dark-300);
  box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);

  &:hover:enabled {
    background-color: var(--color-dark-100);
  }

  &:active:enabled {
    background-color: var(--color-dark-500);
  }
}

.tertiary {
  @include button;

  color: var(--color-accent-500);
  background-color: var(--color-dark-900);
  border: 1px solid var(--color-accent-700);

  &:hover:enabled {
    background-color: var(--color-dark-500);
  }

  &:active:enabled {
    background-color: var(--color-accent-900);
  }
}

.link {
  @include button;

  padding: 0.375rem 0;

  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: var(--color-accent-700, #704ecc);
  text-decoration-line: none;

  background-color: transparent;

  &:hover:enabled {
    color: var(--color-accent-300);
  }

  &:active:enabled {
    color: var(--color-accent-500);
  }
}

.icon {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}
