.page {
  margin-top: 80px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  height: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
}

.headerControl {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.headerBlock {
  display: flex;
  justify-content: space-between;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 299px;
  margin-bottom: 0;
}

.paginationWrapper {
  display: flex;
}

.selectWrapper {
  display: flex;
  align-items: center;
}

.t1 {
  margin-right: 20px;
}

.t2 {
  margin-left: 20px;
}

.alert {
  text-align: center;
}
.decksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 315px;
}
