.coverWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.coverImg {
  max-width: 200px;
  max-height: 50px;
}

.link {
  text-decoration: none;

  &:hover {
    color: var(--color-dark-300);
  }

  transition: 0.2s all ease-in-out;
}

.iconWrapper {
  display: flex;
  gap: 5px;
}
