.page {
  margin-top: 80px;
  padding-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  height: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
}

.controlPanel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.alert {
  text-align: center;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 315px;
}
