.header {
  width: 100%;
  height: 60px;
  background-color: var(--color-dark-500);
}

.headerInner {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}
