.infoBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 12px;
}

.nameBlock {
  display: flex;
  align-items: center;

}

.name {
  //margin-bottom: 5px;
}

.mr9px {
  margin-right: 9px;
}

.infoBlock.profile {
  flex-direction: column;
}

.textBlock {
  margin-left: 10px;

  display: flex;
  flex-direction: column;

  &_center {
    align-items: center;
  }

  &_start {
    align-items: flex-start;
  }
}

.email {
  color: var(--color-dark-100);
  margin-bottom: 8px;
}

.edit {
  cursor: pointer;
}
