.learnPage {
  margin-top: 80px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  height: 100%;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textHeader {
  margin-bottom: 45px;
}

.card {
  height: 430px;
}

.mainText {
  width: 100%;
  text-align: start;
  margin-bottom: 18px;
}
