.learnPage {
  margin-top: 80px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  height: 100%;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textHeader {
  margin-bottom: 45px;
}

.card {
  //height: 430px;
  padding-bottom: 48px;
}


.buttonGroup {
  width: 100%;

  & button:not(:last-child) {
    margin-bottom: 10px;
  }
}

.attempts {
  display: block;
  width: 100%;
  color: var(--color-dark-100);
  text-align: start;
  margin-bottom: 17px;
}

.visibleContent {
  width: 100%;
}

.hiddenContent {
  width: 100%;
}

.rateGroup {

}

.rateTittle {
  margin-bottom: 13px;
}

.checkboxBoxGroup {
  width: 100%;
  text-align: start;
  margin-bottom: 29px;
}
