.title {
  margin-bottom: 20px;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.avatarWrapper {
  position: relative;
}

.editWrapper {
  position: absolute;
  right: 0;
  top: 68%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px 6px;
  background-color: var(--color-dark-300);
  border-radius: 4px;
  z-index: 10;
}
